
body{
    margin: 0;
    padding: 0;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    background-color: white;
    z-index: 10;
    border-bottom: 1px solid #ccc;
}

nav ul{
    margin: 0;
    padding: 10px;
}
nav li{
    list-style: none;
    display: inline-block;
}
main{
    padding-top: 40px;
}
main div div{
    transition: all 0.4s ease-out;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vw;
    text-align: center;
    background-color: aqua;
}
#container > div:nth-child(1){
    background-color: white;
}
#container > div:nth-child(2){
    background-color: green;
}
#container > div:nth-child(3){
    background-color: blue;
}
#container > div:nth-child(4){
    background-color: yellow;
}